<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/header.ejs') %>
  <body>
    <%- include('./partial/nav.ejs') %>
    <div class="blog-create content">
      <form action="/blogs" method="POST">
        <label for="title">Bloge title:</label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippets" required />
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>
    <%- include('./partial/footer.ejs') %>
  </body>
</html>
