<nav>
  <div class="set-title">
    <a href="/">Blogging site</a>
    <p>My site</p>
  </div>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/create">New Blog</a>
    </li>
  </ul>
</nav>
